html, body {
    background: #F5F5F5; font: 18px/1.5 sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;
}

h1 {
    line-height: 1.2; margin: 0 0 .5em;
    font-size: 36px;
    text-align: center;
}

p {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#home-wrapper{
    margin-top: 30px;
    margin-bottom: 30px;
}

header {
    flex-direction: column;
    background-image: linear-gradient(#294AB7, #AFAFAF);
    background-size: auto;
    text-align: center;
    padding-top: 1em;
}

.img-banner {
    text-align: center;
    height: 110px;
}

.logo{
    height: 100%;
    margin-right: 20px;
    margin-left: 20px;
}

.header-title {
    font-weight: bold;
    font-size: 30px;
    padding: 0.5em;
    margin: 0px;
}

nav {
    color: #FFFFFF;
    text-align: center;
    background-color: #656565;
    margin: auto 0;
}

nav a {
    display: inline-block;
    margin: 0px;
    padding: 10px 15px;
    color: #FFFFFF;
    text-decoration: none;
}

nav a:hover {
    background-color: #000000;
}


.home-title{
    text-align: center;
    padding: 0em 0 2.5em;
}

.no-margin {
    margin: 0;
}

.container{
    text-align: justify;
    padding: 2em;
    height: 100%;
}

.btn-container{
    text-align: center;
    margin: 50px 0;
}

.contentGlobal {
    display: flex;
}

.navVertical {
	margin-left: 0;
	margin-top: 0;
	width: 12%;
	margin-bottom: 0;
	background-color: #80FFFF;
	visibility: visible;
}

.blocNavHeaderSearch {
	position:relative;
	background-color: #294AB7;
	visibility: visible;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.blocNavHeaderList {
	position:relative;
	background-color: #294AB7;
	visibility: visible;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.blocNavElement {
	position:relative;
	color:black;
	visibility: visible;
    text-align: center;
}

.blocNavElement p:hover {
    background-color: dodgerblue;
    cursor: pointer;
}

#blocNavElementList{
    background-color: #80FFFF;
    margin-bottom: 10px;
}

#Centre {
	visibility: visible;
    margin: 30 auto 0;
    flex: 1;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: auto;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: dodgerblue;
    color: white;
}

.box {
  font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
  fill: steelblue;
  stroke: #000;
  stroke-width: 1px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #000;
}

.axis {
  font: 12px sans-serif;
}
 
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
 
.x.axis path { 
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

svg{
    display: block;
    margin: auto;
}